{{ define "title" }}Snippet #{{ .Snippet.ID }}{{ end }}

{{ define "main" }}
    {{ with .Snippet }}
        <div class="snippet">
            <div class="metadata">
                <strong>{{ .Title }}</strong>
                <span>#{{ .ID }}</span>
            </div>
            <!--<div class="content">
                {{ .Content }}
            </div>-->
            <pre><code>{{ .Content }}</code></pre>
            <div class="metadata">
                <time>{{ .CreatedAt | humanDate | printf "Created: %s" }}</time>
                <time>{{ .ExpiresAt | humanDate | printf "Expires: %s" }}</time>
            </div>
        </div>
    {{ end }}
{{ end }}
